* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chilanka', cursive;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4px 0;
}

.row {
    display: flex;
    justify-content: space-around;
}

.board {
    border: solid 2px black;
    cursor: default;
}

.congrats-message {
    display: none;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.square {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    border: black solid 2px;
    /* float: left; */
    text-align: center;
    font-size: 120px;
}

button {
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    font-size: 15px;
}

@media screen and (min-width: 900px) {
    .square {
        font-size: 150px;
    }
}


/* colours  */