* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chilanka', cursive;
}

body {
    display: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4px 0;
    flex-wrap: wrap;
}

header button {
    margin: 0;
}

.row {
    display: flex;
    justify-content: space-around;
}

.lower {
    flex-wrap: wrap;
}

.board {
    border: solid 2px black;
    cursor: default;
}

.congrats-message {
    display: none;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.square {
    height: 110px;
    width: 200px;
    display: flex;
    justify-content: center;
    border: black solid 2px;
    padding-top: 20px;
    /* float: left; */
    text-align: center;
    font-size: 90px;
}

button {
    padding: 5px;
    margin: 20px 0;
    border-radius: 12px;
    font-size: 10px;
}

.lower button {
    margin: 10px 0 0 0;
}


/* Media query for when the screensize is desktop : over 990px */

@media screen and (min-width: 900px) {
    .square {
        font-size: 150px;
        padding-top: 40px;
        height: 200px;
    }
    button {
        padding: 20px;
        font-size: 15px;
    }
    header button {
        padding: 10px;
        margin: 0;
        order: 0;
    }
    #playerO {
        order: 1;
    }
    header {
        height: 50px;
    }
}


/* colours  */